main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 9%;
}

.dashboard-header{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    h1{
        font-size: 1.2em;
        margin-bottom: 16px;
        font-weight:800;
    }

    h2{
        font-size: 1.2em;
    }

    .makeStyles-navigation-3{
        padding: 0;
    }

}


.progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 200px;
}

.user-info{
    position: absolute;
}

.progress-bar-container{
    width: 70%;
    height: 14px;
    background-color: #5d5455;
    border-radius: 500px;

    .progress-bar{
        width: 80%;
        height: 100%;
        background-color: #4bba38;
        border-radius: 500px;
        
    }
}

.arrow{
    color:#191919;
    font-size: 2em;
    transform: rotate(270deg);
}

ul{
    list-style-type: none;
}